#accordionFrequently {
    margin: auto;
    max-width: 550px;
}

.text-justify { //Accordion
    text-align: justify;
    padding: 20px 0px;
}

.accordion-body {
    color: $grisOscuro;
}

.accordion-button {
    padding-left: 0%;
    &:hover {
        color: red;
    }
    &:focus {
       box-shadow: none ;  // Quita el contorno azul
    }
    &:not(.collapsed) {
        background-color: transparent;  // Evita el cambio de color al hacer clic
        color: inherit; // Mantiene el color del texto original
    }    
}

.accordion-button::after {
    content: "";
    display: inline-block;
    background-image: url('../img/icon-arrow.svg'); /* Ruta relativa ajustada */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto; /* Asegura que la imagen se alinee a la derecha */
    transition: background-image 0.3s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../img/icon-close.svg'); /* Imagen roja */
}