
.btn-secondary {
    transition: all 0.1s ease-in-out;
    border: 2px solid $secondary;
    
    &:hover {
        background-color: white;
        color: $secondary !important;
        border: 2px solid $secondary;
    }
}

.btn-primary {
    transition: all 0.1s ease-in-out;
    border: 2px solid $primary;
    
    &:hover {
        background-color: transparent;
        color: $primary !important;
        border: 2px solid $primary;
    }
}

.btn-info {
    transition: all 0.1s ease-in-out;
    border: 2px solid $info;
    
    &:hover {
        background-color: transparent;
        border: 2px solid $grisOscuro;
    }
}


