.email-input {
    z-index: 1;
    display: block;
    width: 100%; 

    &:valid {
        border: 2px solid green;

    }
}

.invalid-feedback {
    z-index: 0;
    padding: 5px;
    height: 30px;
    background-color: $secondary !important;
    font-size: 0.8rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

