
.full-menu {
    height: 100vh !important; /* Ocupa toda la pantalla */
    color: white;
    background: rgba(4, 22, 49, 0.75);
}

.offcanvas {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.menu-links {
    list-style: none;
}

.menu-links li {
    width: 100% !important;
    height: auto;
    border-top: 1px solid #ccc;
}

.menu-links a {
    color: white;
    text-decoration: none;    
}

.menu-links li:last-child {
    border-bottom: 1px solid #ccc;
}

.menu-links a:hover {
    color: #f5a623;
}

.social-icons {
    display: flex;
    gap: 15px;
}
