.selector-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.selector-container2 {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


#menu3 {
    margin: auto;
    padding-top: 2rem;
    max-width: 100%;
}

.menu2 {
    margin: auto;
    padding-top: 2rem;
    max-width: 750px;
}


// Línea gris
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; // Línea gris
}

// Línea roja animada (se moverá con `hover`)
.nameSelector {
    position: relative;
    cursor: pointer;
    
    nav-link {
        font-size: 1rem;
        font-weight: bold;
        
        &:hover {
            color: rgb(155, 3, 8); // Resaltar texto al hacer hover
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -25px; 
        left: 50%; //Centro
        width: 0%; //Sin línea
        height: 3px;
        background-color: red;
        transition: all 0.5s ease-in-out;
        transform: translateX(-50%);
        z-index: 1;
    }

    &:hover::after {
        width: 14rem; // La línea roja se expande en hover
    }
}

/*
.title-item {

    &.active h6 {
        border-bottom: 4px solid rgb(255, 38, 0); // Solo el h6 activo tendrá el borde naranja
    }
}
*/