.selector-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    max-width: 100%;
}

.menu2 {
    margin: auto;
    padding-top: 2rem;
    max-width: 750px;
}


// Línea gris
.underline {
    margin: auto;
    left: 0;
    max-width: 700px;
    height: 1px;
    background-color: #ccc; // Línea gris
}

// Línea roja animada (se moverá con `hover`)
.nav-pills .nav-link {
    position: relative;
    cursor: pointer;
    
    nav-link {
        font-size: 2rem;
        font-weight: bold;
        color: black;
        &:hover {
            color: rgb(155, 3, 8); // Resaltar texto al hacer hover
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -18px; 
        left: 50%; //Centro
        width: 0%; //Sin línea
        height: 3px;
        background-color: red;
        transition: all 0.5s ease-in-out;
        transform: translateX(-50%);
        z-index: 1;
    }

    &:focus::after {
        width: 14rem;
    }
}

.nav-pills .nav-link.active {
    background-color: transparent !important;
    color: black;
    font-weight: bold;  
} 
