$primary: #5265E1;
$secondary: #FA5959;
$info: rgb(236, 236, 236); //Boton Firefox 1 section


$grisOscuro: #616161; 

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  6: 5rem,  // Nueva altura personalizada
  7: 7rem,
  25: 2.5rem
);


#menu .text-black, #menu2 .text-black {
    color: $grisOscuro !important; 
}
