@import "variables"; 
@import "../node_modules/bootstrap/scss/bootstrap";
@import "buttons";
@import "selector";
@import "accordion";
@import "form";
@import "menuToggler";


html, body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow-x: hidden !important;
    width: 100%;
}

h1 {
    transform: scale(1.1);
}

h2, h5 {
    font-weight: bold;
}

.nav-link {
    color: black;
    &:active,
    &:focus {
        color: black;
        font-weight: bold !important;
        background-color: transparent !important;
        outline: none !important;
    }
}

.p-features {
    max-width: 700px;
    margin: auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}


#aCleanText {
    max-width: 450px;
}

.p-selector {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.m-bottom{
    margin-bottom: 6rem;
}

.fs-button {
    font-size: 0.9rem;
}

.btn {
    font-weight: bold;
}


#imageSBM {
    position: relative;
    transform: scale(1.05);
}

#imageBIOC {
    position: relative;
    transform: scale(0.98);
}

.imagenAnclada {
    max-width: 650px;
    max-height: 384px;
}


.background-box {
    position:  absolute;
    top: 102%;
    right: -130%;
    left: auto;
    transform: translateY(-102%);
    width: 200%; 
    height: 72%; 
    background-color: #5266df;
    border-top-left-radius: 180px; 
    border-bottom-left-radius: 170px; 
    z-index: 0;
}

.box2 {
    
    top: 117%;
    right: auto;
    left: -100%;
    width: 188%; 
    height: 92%; 
    border-radius: 0%;
    border-top-right-radius: 180px; 
    border-bottom-right-radius: 170px; 
    max-height: 342px;
    
}

.version {
    color: darkgrey;
}

.card {
    max-width: 17rem;
    border: none;
}

#frequently, #download {
    max-width: 550px;
    width: 100%;
    margin: auto;
}


#download {
    max-width: 620px;
}

#bookmark {
    max-width: 450px;
}


footer {
    color: white !important;
    background-color: $primary;
}

footer h2 {
    max-width: 400px;
    margin: auto;
}

footer input {
    flex-basis: 50%;
}

footer section:last-child {
    background-color: rgb(0, 0, 44);
}

#social {
    position: relative;
}

.icon-footer {
    position: absolute;
}

.icon-footer svg path:hover, .social-icons a svg path:hover {
    fill: $secondary;
}

footer .logo path {
    fill: white;
}

footer section:last-child .container {
    max-width: 90%;
}

header a:hover, footer a:hover, .nav-link:hover {
    color: var(--bs-secondary) !important;
}

@media screen and (max-width: 768px) {
    
    .p-features {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .changeFirstDiv {
        order: 2;
        padding-top: 4rem;
        text-align: center;
    }

    .imagenAnclada {
        padding-top: 6rem;

    }
    .imagenAnclada * {
        text-align: center !important;    
    }

    #accordionFrequently {
        padding:0rem 2rem 0rem 2rem;
    }
    #social {
        justify-content: center;
    }
/*
    .sectionTwo * {
        justify-content: center !important;
        text-align: center !important;
    }

*/


}
