// Importar Bootstrap (usa las variables personalizadas antes de importarlo)
@import "variables"; 
// Importar Bootstrap desde node_modules
@import "../node_modules/bootstrap/scss/bootstrap";
@import "buttons";
@import "selector";

// Estilos personalizados
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    transform: scale(1.1);
    //padding-left: 1.3rem;
}

h2, h5, .version {
    font-weight: bold;
}

.custom-p {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.p-width {
    padding-left: 10rem;
    padding-right: 10rem;
}

.p-features {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.p-left {
    padding-left: 7rem;
}

.p-right{
    padding-right: 7rem;
}

.p-selector {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.fs-button {
    font-size: 0.9rem;
}

.btn {
    font-weight: bold;
}


#imageSBM {
    position: relative;
    transform: scale(1.05);
}

#imageBIOC {
    position: relative;
    transform: scale(1);
}


.background-box {
    position:  absolute;
    top: 102%;
    right: -100%;
    left: auto;
    transform: translateY(-100%);
    width: 172%; 
    height: 72%; 
    background-color: #5266df;
    border-top-left-radius: 180px; 
    border-bottom-left-radius: 170px; 
    z-index: 0; //Permanece atras
}

#box-2 {
    top: 117%;
    right: auto;
    left: -100%;
    border-top-right-radius: 180px; 
    border-bottom-right-radius: 170px; 
}

.version {
    color: darkgrey;
}
